Repository frgfm/fastemplate, changes with the labels that .github/labeler.yml gives for each.
All labels: service: backend, ext: ci, topic: style, topic: docs, topic: cursor, func: build, module: database, router: login, router: users, ext: tests

feat: add docker orchestration
  .env.example
  .pre-commit-config.yaml
  Makefile
  README.md
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: topic: style, topic: docs, func: build

style: fix precommit
  .github/dependabot.yml
  .github/workflows/backend.yml
  backend/pyproject.toml
Labels: service: backend, ext: ci, func: build

refactor(models): update star import
  backend/app/models.py
Labels: none

ci(triage): fix permissions
  .github/workflows/triage.yml
Labels: none

feat(migrations): add initial migration
  Makefile
  backend/migrations/versions/2025_05_15_1609-c280e609de6d_init.py
  docker-compose.test.yml
Labels: topic: docs, func: build

docs: update README
  README.md
Labels: topic: docs

fix(migrations): fix iso transfo
  backend/migrations/versions/2025_05_15_1609-c280e609de6d_init.py
Labels: none

ci(dependabot): fix CI
  .github/dependabot.yml
Labels: ext: ci

style: fix type issues
  backend/app/main.py
Labels: none

ci(dependabot): try to add docker compose updates
  .github/dependabot.yml
Labels: ext: ci

.github/labeler.yml:

# High-level service labels
'service: backend':
- changed-files:
  - any-glob-to-any-file: backend/*

# Secondary
'ext: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'topic: style':
- changed-files:
  - any-glob-to-any-file:
    - '**/.pre-commit-config.yaml'

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - '**/README.md'
    - '**/CONTRIBUTING.md'
    - '**/CODE_OF_CONDUCT.md'
    - '**/Makefile'
    - '**/.env.example'

'topic: cursor':
- changed-files:
  - any-glob-to-any-file:
    - '.cursor/*'

# Orchestration
'func: build':
- changed-files:
  - any-glob-to-any-file:
    - '**/pyproject.toml'
    - '**/uv.lock'
    - '**/docker-compose.*'
    - '**/Dockerfile'
    - '**/entrypoint.sh'

########################################################
# Backend-specific
########################################################

# Database
'module: database':
- changed-files:
  - any-glob-to-any-file:
    - backend/src/app/db.py
    - backend/src/app/models.py
    - backend/migrations/*
# Routers
'router: login':
- changed-files:
  - any-glob-to-any-file:
    - backend/src/app/api/*/routers/login.py

'router: users':
- changed-files:
  - any-glob-to-any-file:
    - backend/src/app/api/*/routers/users.py

# Tests
'ext: tests':
- changed-files:
  - any-glob-to-any-file:
    - backend/tests/*
